/*
* { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }
* * * * * * * { background-color: rgba(255,0,0,.2); }
* * * * * * * * { background-color: rgba(0,255,0,.2); }
* * * * * * * * * { background-color: rgba(0,0,255,.2); }
*/


/*
    yellow FFC61A
*/

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    font-weight: 400;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/ubuntu-light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/ubuntu-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/ubuntu-medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/ubuntu-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

p,
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}

body {
    text-rendering: auto;
    min-width: 320px;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-size: 16px;
    color: white;
}

.wrapper {
    padding: 10px;

    display: flex;
    flex-wrap: wrap;

    justify-content: space-evenly;
}

.cart {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    flex-shrink: 0;
}

.cart__title {
    width: 260px;
    height: 200px;
    display: block;
    /* border: 2px solid #FFC61A; */
    border: none;
    border-radius: 9px;
    position: relative;
    margin: 0 auto;
    cursor: pointer;

    box-shadow: 5px 5px 7px 0px rgb(23 23 23 / 33%)

}

.cart__image-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    overflow: hidden;
    border-radius: 9px;
}

.cart__image-wrapper::after {
    content: "";
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 33%;

    box-shadow:
    /* 0 15px 25px -4px rgba(0,0,0,0.5), */
    inset 0 -3px 4px -1px rgba(0,0,0,0.2),
    /* 0 -10px 15px -1px rgba(255,255,255,0.6), */
    inset 0 3px 4px -1px rgba(255,255,255,0.2),
    inset 0 0 5px 1px rgba(255,255,255,0.8),
    inset 0 20px 30px 0 rgba(255,255,255,0.2)

    /* box-shadow: none; */

}

.cart__image {
    width: 100%;
    height: 100%;
}


.cart__info {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 10px;
    border-radius: 9px;
    width: 100%;
}

.cart__info::after {
    content: "";
    width: 24px;
    height: 24px;
    background-image: url(../images/popup.svg);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 12px;
    left: 12px;
}


.cart__from {
    text-align: center;
    font-size: 0.8em;
    font-weight: 500;
}

.cart__who {
    font-size: 1.25em;
    text-align: center;
    font-weight: 500;
}

.cart__price {
    text-align: right;
    font-size: 1.3em;
}

.cart__body {
    background-color: #171717;

    width: 100%;

    /* border: 2px solid #FFC61A; */

    border: none;

    border-radius: 9px;

    padding: 120px 20px 20px 20px;

    margin-top: -100px;

    flex: 1 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    box-shadow: 5px 5px 7px 0px rgb(23 23 23 / 33%)

}


.cart__addinfo {
    margin-bottom: 20px;
}

.cart__evakuator,
.cart__go {
    text-align: center;
    font-size: 0.85em;
}

.cart__phones {
    display: flex;
    flex-direction: column;
}

.cart__phone {
    background-color: #FFC61A;
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    color: #171717;
    height: 48px;

    display: flex;
    align-items: center;

    border-radius:24px;

    text-align: center;

    width: 100%;

    border: 0;
    /* border-right: 1px solid #171717;
    border-bottom: 1px solid #171717;
    box-shadow: 1px 1px 4px rgb(255 255 255 / 100%); */

    box-shadow:
                /* 0 15px 25px -4px rgba(0,0,0,0.5), */
                inset 0 -3px 4px -1px rgba(0,0,0,0.2),
                /* 0 -10px 15px -1px rgba(255,255,255,0.6), */
                inset 0 3px 4px -1px rgba(255,255,255,0.2),
                inset 0 0 5px 1px rgba(255,255,255,0.8),
                inset 0 20px 30px 0 rgba(255,255,255,0.2)
}

.cart__phone span {
    width: 100%;
    padding-right: 24px;
    text-align: center;
    font-weight: 500;
    font-size: 1.2em;

}

.cart__phone::before {
    content: "";
    width: 48px;
    height: 48px;
    background-color: white;
    border-radius: 50%;
    flex-shrink: 0;
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;

    box-shadow:
    /* 0 15px 25px -4px rgba(0,0,0,0.5), */
    inset 0 -3px 4px -1px rgba(0,0,0,0.2),
    /* 0 -10px 15px -1px rgba(255,255,255,0.6), */
    inset 0 3px 4px -1px rgba(255,255,255,0.2),
    inset 0 0 5px 1px rgba(255,255,255,0.8),
    inset 0 20px 30px 0 rgba(255,255,255,0.2);

    /* box-shadow: none; */
}

.cart__phone--short::before {
    background-image: url(../images/phone.svg);
}
.cart__phone--a1::before {
    background-image: url(../images/a1.svg);
}
.cart__phone--mts::before {
    background-image: url(../images/mts.svg);
}
.cart__phone--life::before {
    background-image: url(../images/life.svg);
}

.cart__messangers {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.cart__messanger {
    width: 48px;
    height: 48px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;

    border-radius: 50%;

    /* border-right: 1px solid #171717;
    border-bottom: 1px solid #171717;
    box-shadow: 1px 1px 4px rgb(255 255 255 / 100%); */

    box-shadow:
                /* 0 15px 25px -4px rgba(0,0,0,0.5), */
                inset 0 -3px 4px -1px rgba(0,0,0,0.2),
                /* 0 -10px 15px -1px rgba(255,255,255,0.6), */
                inset 0 3px 4px -1px rgba(255,255,255,0.2),
                inset 0 0 5px 1px rgba(255,255,255,0.8),
                inset 0 20px 30px 0 rgba(255,255,255,0.2)

}

.cart__messanger--tg {
    background-image: url(../images/tg.svg);
}
.cart__messanger--viber {
    background-image: url(../images/viber.svg);
}
.cart__messanger--wa {
    background-image: url(../images/wa.svg);
}
